/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100;300;400;700;900&family=Exo+2:wght@100;200;400;500;700&display=swap');

:root {
  font-family: 'Exo 2', sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;

  app-root {
    background-image: url('assets/images/hero.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  p {
    font-size: 1rem;
    font-weight: lighter;
  }

  @media only screen and (max-width: 450px) {
    /* start mobile styles */
    select,
    textarea,
    input {
      font-size: 16px;
    }
    /* end mobile styles */
  }
}
